@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
  .printable-content {
    padding: 0;
  }
  body, #root {
    background-color: white !important;
  }
  .card {
    box-shadow: none !important;
    border: 1px solid #ccc;
  }
}